<div class="page">
  <nav class="navbar is-warning mb-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="https://cdn.logo.com/hotlink-ok/logo-social-sq.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="auto" height="80%">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
  <div class="container pb-4">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer mt-auto">
    <div class="content has-text-centered">
      <p>
        Дневник снов
      </p>
    </div>
  </footer>
</div>